body {
    font-size: 12pt;
    font-family: monospace;
    line-height: 161.8%;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}


@media (max-width: 500px) {
    .json-key {
        margin: 10pt 0 0 0;
        color: darkgray;
    }

    .json-array > .json-string {
        list-style-type: disc;
        display: list-item;
    }
}

@media (min-width: 500px) {


    .json-object {
        display: grid;
        grid-template-columns: 8em auto;
        max-width: 830px;
        margin: auto;
    }

    .json-key {
        grid-column: 1;
        text-align: right;
        padding-right: 6pt;
    }

    .json-value {
        grid-column: 2;
    }

    .json-object::before { content: "{"; }
    .json-object::after { content: "}"; }
    .json-key::before { content: '"'; }
    .json-key::after { content: '": '; }

    .json-string::before { content: '"'; }
    .json-string::after { content: '"'; }


    .json-array {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .json-array > .json-string {
        display: flex;
        padding-left: 1em;
    }

    .json-array::before { content: "["; }
    .json-array::after { content: "]"; }


    .json-array .json-string:not(:last-child)::after{ content: '",'}

}
